@tailwind base;
@tailwind components;
@tailwind utilities;

/* Smooth scrolling untuk navigasi menu */
html {
    scroll-behavior: smooth;
}

/* Custom scrollbar */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #020617;
    /* Slate 950 */
}

::-webkit-scrollbar-thumb {
    background: #1e293b;
    /* Slate 800 */
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: #334155;
    /* Slate 700 */
}